{% extends "base.html.twig" %}

{% block title %}Pockets - {{ "personal_data_title" | trans }}{% endblock %}

{% block main %}
    {% for message in app.flashes ("success") %}
        <div class="alert alert-success w-50 ml-auto mr-auto mt-5" role="alert">{{ message }}</div>
    {% endfor %}

    <h1 class="h1 text-center mt-4 mb-4 pt-3">{{ "personal_data_h1" | trans }}</h1>

    <div class="w-50 mr-auto ml-auto pt-3">
        <form method="post" novalidate>
            <div class="mb-4">
                <label for="first_name">{{ "personal_data_first_name_label" | trans }}</label>
                <input type="text" value="{{ app.user.firstName }}" id="first_name" class="form-control" readonly/>
            </div>

            <div class="mb-4">
                <label for="last_name">{{ "personal_data_last_name_label" | trans }}</label>
                <input type="text" value="{{ app.user.lastName }}" id="last_name" class="form-control" readonly/>
            </div>

            <div class="mb-5">
                <label for="email">{{ "personal_data_email_label" | trans }}</label>
                <input type="email" value="{{ app.user.email }}" id="email" class="form-control" readonly/>
            </div>
        </form>
    </div>

    <div class="text-center mt-5">
        <a href="{{ url ("user_edit_personal_data") }}">{{ "personal_data_edit_data_link" | trans }}</a>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url ("user_change_password") }}">{{ "personal_data_change_password_link" | trans }}</a>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url ("user_panel") }}">{{ "personal_data_return_link" | trans }}</a>
    </div>
{% endblock %}

{% block footer %}
    {{ include ("_bottom_fixed_footer.html.twig") }}
{% endblock %}